{% extends 'base.html' %}
{% block header %}
    <div class="alert alert-warning mb-5" role="alert">
        <h1 class="alert-heading">Profile List</h1>
        <p class="ml-5">ぜひ、あなたの情報を登録してください</p>
    </div>
{% endblock header %}
{% block content %}
    <div class="container">
        <div class="text-right">
            <a href="{% url 'create' %}" class="btn btn-primary mr-2" role="button">New</a>
        </div>
        {% for human in object_list %}
                <a href="{% url 'detail' human.pk %}" class="btn btn-{{human.job}} btn-block my-4 pt-2 pb-2" role="button">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col text-white">名前：{{ human.name }}さん</div>
                        <div class="col text-white">年齢：{{ human.age }}歳</div>
                        <div class="col text-white">
                            職業：
                            {% if human.job == 'info' %}
                                社会人
                            {% elif human.job == 'success' %}
                                学生
                            {% else %}
                                無職
                            {% endif %}
                        </div>
                        <div class="col"></div>
                    </div>
                </a>
        {% endfor %}
    </div>
{% endblock content %}
